@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
	animation-duration: 5s;
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

::view-transition-old(root) {
	animation-name: slide-out;
}

::view-transition-new(root) {
	animation-name: slide-in;
}