:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color: #000000;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-text: #000000;
    --content-padding: 30px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px 0;
    margin: 0;
    line-height: 1.2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: underline;
}

a:hover {
    color: #535bf2;
}

img {
    display: block;
    max-width: 100%;
    border: 0;
}

h1 {
    font-size: 2.4rem;
}

p:last-child {
    margin-bottom: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

/* Page layout
---------------------------- */
div.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    align-items: center;

    &.page-1 {
        background-color: #3d327f;
    }

    &.page-2 {
        background-color: #df863c;
    }

    &.page-3 {
        background-color: #72ae4b;
    }
}

div.page-main {
    position: relative;
    max-width: 700px;
    padding: var(--content-padding);
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px #5e5e5e52;
}

div.page-head {
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 40px 0;
}

div.page-body {
    padding: 30px 0 0 0;
}

div.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--color-text);
        text-decoration: none;

        &:hover {
            transition: all 200ms linear;
            background-color: rgba(0, 0, 0, 0.2);
        }

        &.current {
            color: #ffffff;
            background-color: rgba(15, 12, 39, 0.856);

            &:hover {
                background-color: rgba(15, 12, 39, 0.856);
            }
        }
    }
}

div.stars {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 5px;
    width: auto;
    padding: 8px;
    border-radius: 5px;
    background-color: #1e304e;

    span {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(/images/star.svg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
